<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.mapper.AccountMapper">

    <select id="getCountByAddress" resultMap="addressCountMap">
        SELECT address, COUNT(*) AS count
        FROM account
        GROUP BY address
    </select>

    <resultMap id="addressCountMap" type="java.util.HashMap">
        <id property="key" column="address"/>
        <result property="value" column="count"/>
    </resultMap>
</mapper>
